body{
    background-color: rgb(98, 56, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.App{
    background-color: rgb(12, 12, 64);
    color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}